In [2]:
import pickle
import pandas as pd

In [3]:
with open('ActionNet_test.pkl', 'rb') as f:
    test = pickle.load(f)
    
with open('ActionNet_train.pkl', 'rb') as f:
    train = pickle.load(f)
    
with open('../data/ActionNet-EMG/S04_1.pkl', 'rb') as f:
    emg = pickle.load(f)

In [4]:
test_data = pd.DataFrame(test)
train_data = pd.DataFrame(train)
emg_data = pd.DataFrame(emg)

In [5]:
test_data.head()

,index,file,description,labels
4,4,S02_2.pkl,Peel a cucumber,Peel
34,34,S04_1.pkl,Open/close a jar of almond butter,Open/Close
48,48,S05_2.pkl,Clean a plate with a towel,Clean
4,4,S05_2.pkl,Peel a cucumber,Peel
62,62,S07_1.pkl,"Stack on table: 3 each large/small plates, bowls",Stack

In [6]:
train_data.head()

,index,file,description,labels
40,40,S08_1.pkl,Spread jelly on a bread slice,Spread
10,10,S04_1.pkl,Get/replace items from refrigerator/cabinets/d...,Get/Put
6,6,S03_1.pkl,Clear cutting board,Clear
24,24,S08_1.pkl,Clear cutting board,Clear
6,6,S04_1.pkl,Slice a cucumber,Slice

In [7]:
emg_data.head()

,description,start,stop,myo_left_timestamps,myo_left_readings,myo_right_timestamps,myo_right_readings
0,calibration,1.655239e+09,1.655240e+09,[],[],[],[]
1,Get/replace items from refrigerator/cabinets/d...,1.655240e+09,1.655240e+09,"[1655239974.420555, 1655239974.432055, 1655239...","[[8, 7, 2, 2, 6, 5, 14, 2], [-4, 23, 19, 6, 16...","[1655239974.4195595, 1655239974.427058, 165523...","[[-2, -3, 2, 3, -8, -1, 1, -2], [3, 7, 8, -1, ..."
2,Peel a cucumber,1.655240e+09,1.655240e+09,"[1655240064.7444172, 1655240064.748419, 165524...","[[78, 57, 43, 7, 18, 18, 4, 16], [3, 0, 48, 6,...","[1655240064.7504191, 1655240064.76542, 1655240...","[[-18, 14, 26, -3, -15, -12, -26, 4], [-20, -2..."
3,Peel a cucumber,1.655240e+09,1.655240e+09,"[1655240130.5200577, 1655240130.531557, 165524...","[[-30, 20, 18, 1, 12, 23, 21, -10], [23, -15, ...","[1655240130.5190585, 1655240130.526558, 165524...","[[1, -21, 22, 14, 13, -24, -1, -12], [-58, -83..."
4,Peel a cucumber,1.655240e+09,1.655240e+09,"[1655240178.033217, 1655240178.037216, 1655240...","[[4, -19, -26, -63, -31, -36, -3, -1], [-30, -...","[1655240178.0472164, 1655240178.062216, 165524...","[[-4, 57, 49, 32, 34, 7, 7, 7], [-13, -80, -29..."

In [8]:
emg_data["myo_left_readings"][2].shape

(7739, 8)

In [18]:
print(emg_data["myo_left_timestamps"].head())
print(emg_data["myo_left_timestamps"].tail())

0                                                   []
1    [1655239974.420555, 1655239974.432055, 1655239...
2    [1655240064.7444172, 1655240064.748419, 165524...
3    [1655240130.5200577, 1655240130.531557, 165524...
4    [1655240178.033217, 1655240178.037216, 1655240...
Name: myo_left_timestamps, dtype: object
55    [1655241895.143991, 1655241895.147988, 1655241...
56    [1655242026.407278, 1655242026.410778, 1655242...
57    [1655242143.2735891, 1655242143.281089, 165524...
58    [1655242198.7367425, 1655242198.744243, 165524...
59    [1655242320.981325, 1655242320.9888253, 165524...
Name: myo_left_timestamps, dtype: object